<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Scrolltek - @ViewData["Title"]</title>
  <!-- Custom fonts for this template-->
  <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="~/lib/sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
  <link href="~/app/css/site.css" rel="stylesheet" type="text/css" />
  @RenderSection("Styles", required: false)
</head>

<body id="page-top">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion toggled" id="accordionSidebar">
      <!-- Sidebar - Brand -->
      <li>
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Home" asp-action="Index" style="background-color: #fff; border-right: 1px solid #efefef; color: #888">
          <div class="sidebar-brand-icon rotate-n-15">
            <img src="~/img/scrolltek-logo-32.png" />
          </div>
          <div class="sidebar-brand-text mx-3">Scrolltek<span style="top: 42px;font-weight: normal;font-size:11px;position: absolute;left: 138px;">v0.1.0</span></div>
        </a>
      </li>
      <li class="main-setting nav-item border border-light rounded bg-gray-900">
        <span class="sidebar-heading active">Niqqud (On)</span>
        <a class="nav-link active" href="#">
          <div class="text-icon">אֱ</div>
        </a>
        <div class="on-off btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary btn-sm active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
          </label>
          <label class="btn btn-secondary btn-sm">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
          </label>
        </div>
      </li>
      <!-- Just an example of which classes to toggle to turn the control off.  This should be removed.-->
      <li class="main-setting nav-item border border-secondary rounded bg-gray-900">
        <span class="sidebar-heading">Niqqud (Off)</span>
        <a class="nav-link" href="#">
          <div class="text-icon">אֱ</div>
        </a>
        <div class="on-off btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary btn-sm">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
          </label>
          <label class="btn btn-secondary btn-sm active">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
          </label>
        </div>
      </li>
      <li class="main-setting lexical nav-item border border-light rounded bg-gray-900">
        <span class="sidebar-heading active">Lexical (On)</span>
        <a class="nav-link active" href="#">
          <div class="text-icon">
            <i class="fas fa-microscope fa-w-16 fa-5x active"></i>
          </div>
        </a>
        <div class="on-off btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary btn-sm active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
          </label>
          <label class="btn btn-secondary btn-sm">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
          </label>
        </div>
      </li>
      <!-- Just an example of which classes to toggle to turn the control off.  This should be removed.-->
      <li class="main-setting lexical nav-item border border-secondary rounded bg-gray-900">
        <span class="sidebar-heading">Lexical (Off)</span>
        <a class="nav-link" href="#">
          <div class="text-icon">
            <i class="fas fa-microscope fa-w-16 fa-5x"></i>
          </div>
        </a>
        <div class="on-off btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary btn-sm">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
          </label>
          <label class="btn btn-secondary btn-sm active">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
          </label>
        </div>
      </li>
      <li class="main-setting english nav-item border border-light rounded bg-gray-900">
        <span class="sidebar-heading active">English (On)</span>
        <a class="nav-link active" href="#">
          <div class="text-icon">A</div>
        </a>
        <div class="on-off btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary btn-sm active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
          </label>
          <label class="btn btn-secondary btn-sm">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
          </label>
        </div>
      </li>
      <!-- Just an example of which classes to toggle to turn the control off.  This should be removed.-->
      <li class="main-setting english nav-item border border-secondary rounded bg-gray-900">
        <span class="sidebar-heading">English (Off)</span>
        <a class="nav-link" href="#">
          <div class="text-icon">A</div>
        </a>
        <div class="on-off btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary btn-sm">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
          </label>
          <label class="btn btn-secondary btn-sm active">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
          </label>
        </div>
      </li>
      <li class="main-setting commentary nav-item border border-light rounded bg-gray-900">
        <span class="sidebar-heading active">Commentary</span>
        <a class="nav-link active" href="#">
          <div class="text-icon">
            <i class="fas fa-comment fa-w-16 fa-5x"></i>
          </div>
        </a>
        <div class="on-off btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary btn-sm active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
          </label>
          <label class="btn btn-secondary btn-sm">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
          </label>
        </div>
      </li>
      <!-- Just an example of which classes to toggle to turn the control off.  This should be removed.-->
      <li class="main-setting commentary nav-item border border-secondary rounded bg-gray-900">
        <span class="sidebar-heading">Commentary</span>
        <a class="nav-link" href="#">
          <div class="text-icon">
            <i class="fas fa-comment fa-w-16 fa-5x"></i>
          </div>
        </a>
        <div class="on-off btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary btn-sm">
            <input type="radio" name="options" id="option1" autocomplete="off" checked> On
          </label>
          <label class="btn btn-secondary btn-sm active">
            <input type="radio" name="options" id="option3" autocomplete="off"> Off
          </label>
        </div>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block" />
      <!-- Heading -->
      <div id="tenakh" class="sidebar-heading">
        Tanakh
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-fw fa-balance-scale"></i>
          <span>Torah (Teaching)</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="#">Bereshit (In the Beginning)</a>
            <a class="collapse-item" href="#">Shemot (The Names)</a>
            <a class="collapse-item" href="#">Vayikra (He Called)</a>
            <a class="collapse-item" href="#">Bemidbar (In the Desert)</a>
            <a class="collapse-item" href="#">Devarim (Words)</a>
          </div>
        </div>
      </li>
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#prophets" aria-expanded="false" aria-controls="prophets">
          <i class="fas fa-fw fa-torah"></i>
          <span>Nevi'im (Prophets)</span>
        </a>
        <div id="prophets" class="collapse" aria-labelledby="prophets" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Rishonim (Former):</h6>
            <a class="collapse-item" href="#">Yĕhôshúa‘ (Joshua)</a>
            <a class="collapse-item" href="#">Shophtim (Judges)</a>
            <a class="collapse-item" href="#">Shmû’ēl (Samuel)</a>
            <a class="collapse-item" href="#">M'lakhim (Kings)</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Aharonim (Latter):</h6>
            <a class="collapse-item" href="#">Yĕsha‘ăyāhû (Isaiah)</a>
            <a class="collapse-item" href="#">Yirmyāhû (Jeremiah)</a>
            <a class="collapse-item" href="#">Yĕkhezqiēl (Ezekiel)</a>
            <h6 class="collapse-header">Trei Asar (The Twelve):</h6>
            <a class="collapse-item" href="#">Hôshēa‘ (Hosea)</a>
            <a class="collapse-item" href="#">Yô’ēl (Joel)</a>
            <a class="collapse-item" href="#">‘Āmôs (Amos)</a>
            <a class="collapse-item" href="#">‘Ōvadhyāh (Obadiah)</a>
            <a class="collapse-item" href="#">Yônāh (Jonah)</a>
            <a class="collapse-item" href="#">Mîkhāh (Micah)</a>
            <a class="collapse-item" href="#">Nakḥûm (Nahum)</a>
            <a class="collapse-item" href="#">Khăvhakûk (Habakkuk)</a>
            <a class="collapse-item" href="#">Tsĕphanyāh (Zephaniah)</a>
            <a class="collapse-item" href="#">Khaggai (Haggai)</a>
            <a class="collapse-item" href="#">Zkharyāh (Zechariah)</a>
            <a class="collapse-item" href="#">Mal’ākhî (Malachi)</a>
          </div>
        </div>
      </li>
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" " data-toggle="collapse" data-target="#writings" aria-expanded="false" aria-controls="writings">
          <i class="fas fa-fw fa-book-open"></i>
          <span>Ketuvim (Writings)</span>
        </a>
        <div id="writings" class="collapse" aria-labelledby="writings" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Sifrei Emet (Poetry):</h6>
            <a class="collapse-item" href="#">Tehillim (Psalms)</a>
            <a class="collapse-item" href="#">Mishlei (Proverbs)</a>
            <a class="collapse-item" href="#">Iyyôbh (Job)</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Hamesh Megillot (Five Scrolls):</h6>
            <a class="collapse-item" href="#">Shīr Hashīrīm (Song of Songs)</a>
            <a class="collapse-item" href="#">Rūth (Ruth)</a>
            <a class="collapse-item" href="#">Eikhah (Lamentations)</a>
            <a class="collapse-item" href="#">Qōheleth (Ecclesiastes)</a>
            <a class="collapse-item" href="#">Estēr (Esther)</a>
            <h6 class="collapse-header">Other:</h6>
            <a class="collapse-item" href="#">Dānî'ēl (Daniel)</a>
            <a class="collapse-item" href="#">Ezrā (Ezra and Nehemiah)</a>
            <a class="collapse-item" href="#">Divrei ha-Yamim (Chronicles)</a>
          </div>
        </div>
      </li>
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">
      <!-- Heading -->
      <div class="sidebar-heading">
        Thanks
      </div>
      <!-- Nav Item - Pages Collapse Menu -->
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" href="/Home/Attributions">
          <i class="fas fa-fw fa-code"></i>
          <span>Attributions</span>
        </a>
      </li>
      <!-- Nav Item - Tables -->
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/scrolltek/scrolltek-web/" target="_blank">
          <i class="fas fa-fw fa-code-branch"></i>
          <span>Contributions</span>
        </a>
      </li>
      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>
    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <!-- Topbar Search -->
          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
              <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
              <div class="input-group-append" style="margin-top: -2px;margin-left: 7px;">
                <button class="btn btn-info" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div>
          </form>
          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <!-- Nav Item - User Information -->
            <partial name="_LoginPartial" />
          </ul>
        </nav>
        <!-- End of Topbar -->
        <!-- Begin Page Content -->
        <div class="container-fluid">
          @RenderBody()
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->
  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="~/lib/knockout/knockout-min.js"></script>
  <script src="~/lib/page.js/page.min.js"></script>
  <script src="~/lib/jquery/jquery.min.js"></script>
  <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
  <!-- Custom scripts for all pages-->
  <script src="~/lib/sb-admin-2/js/sb-admin-2.min.js"></script>
  <script src="~/app/js/site.js"></script>
  @RenderSection("Scripts", required: false)
</body>

</html>
